/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url('NotoSansCJKjp-Thin.woff'),url('NotoSansCJKjp-Thin.eot');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: local("NotoSansCJKjp-Light.otf"),
       url('NotoSansCJKjp-Light.woff'),url('NotoSansCJKjp-Light.eot');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: local("NotoSansCJKjp-DemiLight.otf"),
       url('NotoSansCJKjp-DemiLight.woff'),url('NotoSansCJKjp-DemiLight.eot');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansCJKjp-Regular.otf"),
       url('NotoSansCJKjp-Regular.woff'),url('NotoSansCJKjp-Regular.eot');
 }
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url('NotoSansCJKjp-Medium.woff'),url('NotoSansCJKjp-Medium.eot');
 }
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url('NotoSansCJKjp-Bold.woff'),url('NotoSansCJKjp-Bold.eot');
 }
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url('NotoSansCJKjp-Black.woff'),url('NotoSansCJKjp-Black.eot');
 }